<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Agil OFFICE</title>
    <meta name="description" content="Node integration example">
    <meta name="author" content="Guillaume Suiffet">
    <!-- CSS -->
    <link href="css/style.css" rel="stylesheet" type="text/css" />
</head>
<body class="page">
<h1>CRM</h1>
</body>
</html>